.container-barra{
    width: 300px;
    background-color: rgb(182, 182, 182);
    height: 25px;
    border-radius: 10px;
    overflow: hidden;
    margin: 12px 0px 8px 0px;
}

.barra-progressiva{
    height: 100%;
    font-weight: bold;
    line-height: 20px;
}

.testo-barra-index{
    text-align: center;
    font-size: 16px;
    margin:10px auto;
}