.container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.container-offerte{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px
}

.card-info {
    width: 400px;
    height: 150px;
    border-radius: 15px;
    background: #5770DE;
    position: relative;
    padding: 29px;
    border: 2px solid #3851CA;
    transition: 0.5s ease-out;
    overflow: visible;
}

.dettagli-info{
    color: black;
    height: 100%;
    display: grid;
    place-content: center;
    align-items: flex-start;
    justify-content: flex-start;
}

.titolo-info{
    font-size: 24px;
    font-weight: bold;
}

.bottone-info{
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 16px;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 16px;
    padding: 8px 16px;
    position: absolute;
    left: 50%;
    opacity: 0;
    transition: 0.3s ease-out;
}

.card-info:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card-info:hover .bottone-info{
    transform: translate(-50%, 50%);
    opacity: 1;
}

.card-offerta{
    width: 300px;
    height: 250px;
    background: #f5f5f5;
    padding: 15px;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s;
    position: relative;
}

.immagine-offerta{
    width: 100%;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    font-weight: 900;
    transition: all 0.3s;
}

.dettagli-offerta{
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center ;
    gap: 5px;
    margin-bottom: 20px;
}

.titolo-offerta{
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
}

.prezzo-offerta{
    font-size: 16px;
    font-weight: 700;
}

.prezzo-vecchio-offerta{
    font-size: 12px;
    text-decoration: line-through;
    color: #adadad;
}

.bottone-offerta{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    background-color: rgb(24, 24, 24);
    border: none;
    border-radius: 40px;
    color: white;
    transition: all 0.3s;
    cursor: pointer;
    font-weight: 500;
    opacity: 0;
}

.card-offerta:hover .immagine-offerta {
    height: 120px;
}
  
.card-offerta:hover .bottone-offerta{
    margin-top: 0;
    opacity: 1;
}
  
.bottone-offerta:hover {
    background-color: #0920A2;
}
  
.card-offerta:hover {
    background-color: #5770DE;
}


