.carrello-popup {
    position: fixed;
    right: 20px;
    top: 100px;
    align-items: center;
    font-size: 90%;
    z-index: 1000;
    background-color: rgba(254, 254, 254, 0.98);
}

.container-carrello {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px; 
    scroll-behavior: smooth;
}

.bottone-chiusura-carrello {
    position: absolute;
    top: 35px; 
    right: 10px;
    background-color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.immagine-prodotto-carrello img{
    border-radius: 7px;
    margin-right: -10px;
    height: 45px;
}

.immagine-prodotto-carrello{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.nome-prodotto-carrello{
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    font-size: 17px; 
    font-weight: bold; 
    color: #303030; 
    max-width: 150px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.prezzo-prodotto-carrello{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.quantita-prodotto-carrello{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.container-prodotto-carrello{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 6px;
    width: 90%;
    margin-bottom: 10px;
    background-color: rgb(213, 213, 213);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

.container-prodotto-carrello:hover{
    background-color: rgb(200, 200, 200);
    transform: scale(1.02);
    box-shadow: none;
}

#carrello-tbl {
    width: 100%; 
    border-collapse: collapse; 
}

.rimuovi-prodotto-carrello{
    grid-column: 4 / 5;
    grid-row: 1 / 3;
}

.remove-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin-top: 10px;
    margin-left: 20px;
    transition: transform 0.2s ease;
}

.remove-button img {
    height: 20px;
}

.remove-button:hover{
    transform: scale(1.1);
}

#riga-finale{
    border-top: 2px solid #dadada;
}

#totale-carrello {
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    padding: 20px;
}

.acquista-button{
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background: #0460D9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 65px;
    margin-top: 5px;
    transition: all 0.2s ease;
}

.acquista-button:hover{
    background: #022873;
    transform: scale(1.03);
}

#container-accesso-carrello{
    display: block;
    float:right;
    margin-top: 10px;
    padding: 10px;
    width:170px;
    border-radius: 15px;
    background-color: #0460D9;
}

#testo-accesso-carrello{
    text-decoration: none;
    color: white;
    margin: auto;
}