.container-aggiungi-prodotto h1 {
    font-size: 32px;
    font-weight: bold;
    color: #283b96;
    margin-bottom: 5px;
}

.form-aggiungi {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    cursor: pointer;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-aggiungi:hover {
    border-color: #022873;
}

.form-aggiungi label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

.form-aggiungi input[type="text"], .form-aggiungi input[type="file"] {
    font-size: 16px;
    width: 350px;
    margin: auto;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #022873;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3 ease;
}

.form-aggiungi input[type="text"]:hover, .form-aggiungi input[type="file"]:hover {
    border-color: #022873;
}

.form-aggiungi input[type="text"]:focus {
    border-color: #022873;
}

.form-aggiungi select {
    outline: 0;
    width: 47%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    background-color: #f8f9fa;
    cursor: pointer;
    border: 2px solid #022873;
    border-radius: 10px;
    appearance: none;
}

.form-aggiungi select:hover {
    border-color: #0406D9;
}

.form-aggiungi select:focus {
    border-color: #283b96;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
    outline: none;
}

.form-aggiungi select option {
    font-size: 16px;
    background: #f8f9fa;
    color: #333;
    border-color: #283b96;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
}

#foto-area {
    width: 50%;
    padding-top: 15px;
    margin: 15px auto 15px;
    background: #f8f9fa;
    align-items: center;
    align-content: center;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    border: 2px dashed #022873;
}

#foto-area h2 {
    font-size: 18px;
    margin: 0;
    color: #022873;
}

.pulsante-aggiungi {
    background: #0406D9;
    width:15%;
    padding: 12px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3 ease;
}

.pulsante-aggiungi:hover {
    background: #022873;
}