.container-pieno {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1800px;
    max-height: 506px;
    margin: auto;
    padding: 20px;
}

.container-slideshow {
    width: 1380px;
    height: 506px;
    margin: auto;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.slideshow {
    display: flex;
    transition: all 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    transition: all 0.5s ease-in-out;
    position: relative;
    opacity: 0.2;
    transform: scale(0.7);
}

.slide img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.slide.attiva {
    opacity: 1;
    transform: scale(1);
    z-index: 2;
}

.freccia {
    position: absolute;
    top: 47%;
    color: white;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    z-index: 3;
    transition: background-color 0.3s ease;
}

.freccia:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.freccia-sinistra {
    left: 10px;
}

.freccia-destra {
    right: 10px;
}

.container-punti {
    z-index: 5;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 22px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;
    border-radius: 20px;
}

.punto {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bdbdbd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.punto.attivo {
    background-color: white;
}

.container-a-meta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 1800px;
    margin: auto;
    padding: 20px;
}

.container-abbonamento {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    max-width: 550px;
    width: 100%;
    height: 300px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.container-cta {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    max-width: 800px;
    width: 100%;
    height: 300px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
}

.container-offerte {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: auto;
    max-width: 1380px;
    height: 370px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

/******   SEZIONE OFFERTE   ******/

.container-offerte-card p {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    text-decoration: none;
}

.container-offerte-card {
    display: flex;
    gap: 70px;
    justify-content: center;
}

.container-offerte-card p.descrizione-offerta {
    font-size: 14px;
    font-weight: 500;
}

.angolo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    right: 0;
    background-color: #0460D9;
    border-radius: 0 2px 0 22px;
}

.freccia-offerta {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
}

.offerta-card {
    display: block;
    position: relative;
    width: 400px;
    background-color: rgb(247, 247, 247);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    padding: 32px 24px;
    margin: 12px;
    color: inherit;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    transition: all 0.6s ease-out;
}

.offerta-card:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #0460D9;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transition: transform 0.25s ease-out;
}

.offerta-card:hover:before {
    transform: scale(33);
}

.offerta-card:hover p {
    transition: all 0.3s ease-out;
    color: white;
}

.offerta-card:hover {
    box-shadow: none;
}

.bottoni {
    text-align: center;
}

.container-cta p {
    font-size: 20px;
}

.bottone-si {
    background-color: #0460D9;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
}

.bottone-no {
    background-color: #cd5050;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
}

.bottone-login {
    background-color: #0460D9;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
}

.bottone-login:hover {
    background-color: #022873;
}

.bottone-si:hover {
    background-color: #022873;
}

.bottone-no:hover {
    background-color: #b33d3d;
}

.messaggio {
    font-size: 24px;
    font-weight: bold;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    z-index: 2;
    position: absolute;
    bottom: 10px;
}

.show-message {
    opacity: 1;
    transform: translateY(-80px);
}

.nascondi {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
}

.container-cta h1 {
    margin-top: 30px;
}

.contenitore-playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 550px;
    padding: 20px 15px 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    gap: 15px;
    height: 310px;
}

.card-playlist {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
}

.card-playlist:hover {
    transform: translateY(-5px);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}

.card-playlist:hover .copertina-playlist {
    transform: scale(1.1);
}

.copertina-playlist {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.info-playlist {
    flex: 1;
}

.titolo-playlist {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: #333;
}

.descrizione-playlist {
    font-size: 12px;
    color: #666;
    margin: 5px 0 0;
}

.button-riproduzione {
    background-color: #0460D9;
    border: none;
    color: white;
    font-size: 18px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.button-riproduzione:hover {
    background-color: #022873;
}

.container-provvisorio {
    display: flex;
    justify-content: center;;
    flex-direction: column;
    background-color: white;
    max-width: 800px;
    width: 100%;
    height: 310px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
}


.promozione-tapis-roulant {
    display: flex;
    align-items: center; 
    gap: 20px; 
    text-align: left; 
    width: 100%; 
    padding: 20px; 
}

.contenuto-destra {
    flex: 1; 
}

.promozione-tapis-roulant h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 15px;
    margin-top: 0px;
}

.promozione-tapis-roulant p {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 20px;
}

.promozione-tapis-roulant img {
    width: 250px; 
    height: auto; 
    border-radius: 13px;
    margin-right: 10px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2); ;
    transition: all 0.2s ease;
}

.prezzo {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 2px;
}

.vecchio-prezzo {
    text-decoration: line-through;
    color: #999;
}

.nuovo-prezzo {
    color: #e74c3c;
    font-weight: bold;
}

.pulsante-acquisto {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    color: #fff;
    background-color: #0460D9;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.pulsante-acquisto:hover {
    background-color: #022873;
    transform: scale(1.05);
}

.promozione-tapis-roulant img:hover{
    transform: scale(1.04);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.descrizione-non-registrati{
    text-align: center;
    margin: 0px 35px;
}