.container-pieno{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1800px;
    max-height: 506px;
    margin: auto;
    padding: 20px;
}

.container-slideshow {
    width: 900px;
    height: 506px;
    margin: auto;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.slideshow {
    display: flex;
    transition: all 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    transition: all 0.5s ease-in-out;
    position: relative;
    opacity: 0.2;
    transform: scale(0.7);
}

.slide img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.slide.attiva {
    opacity: 1;
    transform: scale(1);
    z-index: 2; 
}

.freccia {
    position: absolute;
    top: 47%;
    color: white;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    z-index: 3;
    transition: background-color 0.3s ease;
}

.freccia:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.freccia-sinistra {
    left: 10px;
}

.freccia-destra {
    right: 10px;
}

.container-punti {
    z-index: 5;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 22px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;
    border-radius: 20px;
}

.punto {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bdbdbd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.punto.attivo {
    background-color: white;
}

.container-a-meta{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 1800px;
    margin: auto;
    padding: 20px;
}

.container-abbonamento {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    max-width: 550px;
    width: 100%;
    height: 300px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.container-cta{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    max-width: 800px;
    width: 100%;
    height: 300px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.container-offerte{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: auto;
    max-width: 1380px;
    height: 370px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

/******   SEZIONE OFFERTE   ******/

.container-offerte-card p{
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    text-decoration: none;
}

.container-offerte-card{
    display: flex;
    gap: 70px;
    justify-content: center;
}

.container-offerte-card p.descrizione-offerta{
    font-size: 14px;
    font-weight:500;
}

.angolo{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    right: 0;
    background-color: #5770DE;
    border-radius:0 2px 0 22px;
}

.freccia-offerta{
    margin-top: -4px;
    margin-right: -4px;
    color: white;
}

.offerta-card{
    display: block;
    position: relative;
    width: 400px;
    background-color: rgb(247, 247, 247);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    padding: 32px 24px;
    margin: 12px;
    color: inherit;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    transition: all 0.6s ease-out;
}

.offerta-card:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #5770DE;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transition: transform 0.25s ease-out;
}

.offerta-card:hover:before {
    transform: scale(33);
}

.offerta-card:hover p {
    transition: all 0.3s ease-out;
    color: white;
}

.offerta-card:hover{
    box-shadow: none;
}