.indice {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100px;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.indice a{
    display: block;
    margin: 10px 0;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
}
.indice a.active{
    background-color: #447bf2;
    color: #ffffff;
}

.section-profilo{
    margin-left:140px;
    padding-left: 20px;
    min-height: 1000px; /* solo per le prove */
}