.indice {
    position: fixed;
    top: 100px;
    left: 0;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    width: 280px;
}

.indice a{
    display: block;
    margin: 10px 0;
    padding:7px;
    color: #000000;
    text-decoration: none;
    border-radius: 15px;
}
.indice a.active{
    background-color: #447bf2;
    color: #ffffff;
}

.contenitore-profilo {
    max-width: 1000px;
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 350px;
}

.section-profilo {
    margin-bottom: 40px;
    padding: 30px;
    border-radius: 15px;
    background-color: #f9f9f9;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.titolo-info {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center; 
    background-color: #447bf2; 
    color: white; 
    border-radius: 5px; 
}

.dettagli-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; 
}

.dettagli-info p {
    padding: 5px 0;
    break-inside: avoid; 
}

p {
    margin: 8px 0;
    padding-top: 10px;
}

.container-barra-e-scritta {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    grid-column: 2;
    align-items:start;
}

.col1{
    grid-column: 1;
}

.col2{
    grid-column: 2;
}

#visualizza-dati {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
}

#form-modifica {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
}

#btn-modifica {
    color: #090909;
    display: block;
    justify-content: center;
    padding: 12px 50px;
    font-size: 18px;
    border-radius: 8px;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    margin: 20px auto 0px;
}

#btn-modifica:active {
    box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}

#btn-annulla{
    color: #090909;
    display: block;
    justify-content: center;
    padding: 12px 150px;
    font-size: 18px;
    border-radius: 8px;
    background-color: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    margin: auto;
}

#bottone-salva{
    color: #090909;
    display: block;
    justify-content: center;
    padding: 12px 150px;
    font-size: 18px;
    border-radius: 8px;
    background-color: #92ace6;
    cursor: pointer;
    border: 1px solid #92ace6;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    margin: auto;
}

.container-barra{
    width: 300px;
    background-color: rgb(182, 182, 182);
    height: 25px;
    border-radius: 10px;
    overflow: hidden;
    margin: 40px 0px 0px;
}

.barra-progressiva{
    height: 100%;
    font-weight: bold;
    line-height: 20px;
}

.testo-barra-profilo{
    font-size: 14px; 
    margin: 10px 100px;
}

.bottone-logOut{
    display: flex;
    margin: 0px auto;
    align-items: center;
    justify-content: space-between;
    width: 60px;
    height: 45px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 65, 65);
}

.testo-logout {
    position: absolute;
    opacity: 0;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    transition: all 0.2s ease;
    right: 15px;
}

.bottone-logOut:hover{
    width: 150px;
    transition: all 0.3s ease;
    border-radius: 15px;
}

.bottone-logOut:hover .testo-logout {
    opacity: 1;
    padding-left: 10px;
}

.bottone-logOut img{
    width: 27px;
    height: 27px;
    margin: 0px 0px 0px 12px;
}

.input-modifica{
    font-size: 16px;
    padding: 10px 10px 2px 5px;
    width: 50%;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
}

.bordo-input{
    position: absolute;
    background: #5891ff;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}


