body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    color: #0460D9;
}

.contenitore-login {
    width: 370px;
    margin: 130px auto 0px;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

.titolo-login {
    font-size: 24px;
    font-weight: bold;
    color: #0460D9;
    margin-bottom: 20px;
}

.form-login {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    font-size: 14px;
    margin-bottom: 5px;
}

input {
    width: 97%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px;
    border-radius: 5px;
}

.pulsante-login {
    background: #0460D9;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border-color: #0443c3;
}

.pulsante-login:hover {
    background: #0443c3;
}

.link-extra {
    margin-top: 15px;
    font-size: 14px;
}

.link-extra a {
    color: #0460D9;
}