/* Stile generale del corpo della pagina */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
    color: #022873;
}

/* Contenitore principale della sezione abbonamenti */
.contenitore-abbonamenti {
    width: 60%;
    margin: 100px auto 50px;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Titolo della sezione */
.titolo-abbonamenti {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #022873;
}

/* Contenitore degli abbonamenti */
.opzioni-abbonamento {
    display: inline-block;
    width: 100%;
}

/* Stile singola opzione di abbonamento */
.abbonamento {
    width: 220px;
    display: inline-block;
    margin: 15px;
    background: #0460D9;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    color: white;
}

/* Stile del numero di mesi */
.durata {
    display: block;
    font-size: 40px;
    font-weight: bold;
}

/* Testo "Mesi" */
.testo-mesi {
    font-size: 18px;
    margin: 5px 0;
}

/* Prezzo degli abbonamenti */
.prezzo {
    font-size: 20px;
    font-weight: bold;
    color: #FFD700;
}

/* Contenitore principale della sezione trainer */
.contenitore-trainer {
    width: 60%;
    margin: 50px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Titolo della sezione */
.titolo-trainer {
    font-size: 24px;
    font-weight: bold;
    color: #022873;
    margin-bottom: 20px;
}

/* Griglia dei personal trainer */
.griglia-trainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Singolo box del trainer */
.trainer {
    width: 250px;
    background: #0460D9;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    color: white;
    margin: 10px;
}

.trainer:hover {
    transform: scale(1.05);
}

/* Immagine del trainer */
.foto-trainer {
    width: 120px;
    height: 120px;
    border-radius: 45%;
    object-fit: cover;
}

/* Nome del personal trainer */
.nome-trainer {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;
}

/* Sezione icone social */
.social-trainer {
    margin: 5px 0;
}

.social-trainer a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 0 5px;
}

/* Contenitore tabella orari */
.orari-container {
    margin-top: 10px;
    background: #ffd700;
    padding: 3px;
    border-radius: 5px;
}

/* Tabella orari */
.tabella-orari {
    width: 100%;
    border-collapse: collapse;
}

.tabella-orari th, .tabella-orari td {
    border: 0px solid #FFF;
    padding: 5px;
    font-size: 14px;
}

.tabella-orari th {
    background: #FFD700;
    color: #022873;
}

.tabella-orari td {
    background: white;
    color: black;
}

/* Contenitore della sezione */
.contenitore-servizi {
    width: 60%;
    margin: 50px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

/* Titolo della sezione */
.titolo-servizi {
    font-size: 24px;
    font-weight: bold;
    color: #022873;
    margin-bottom: 20px;
}

/* Griglia servizi */
.griglia-servizi {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

/* Singolo box servizio */
.servizio {
    width: 250px;
    background: #0460D9;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    color: white;
}

/* Icona servizio */
.icona-servizio {
    font-size: 40px;
    margin-bottom: 10px;
}

/* Nome del servizio */
.nome-servizio {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Descrizione del servizio */
.descrizione-servizio {
    font-size: 14px;
    color: #FFD700;
}

.contenitore-gestione-trainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    margin: 50px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.contenitore-gestione-trainer h1 {
    font-size: 24px;
    font-weight: bold;
    color: #022873;
    margin-bottom: 20px;
}

.contenitore-aggiunta-trainer{
    width: 100%;
    margin: 0px auto 10px;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.contenitore-aggiunta-trainer h1 {
    font-size: 24px;
    font-weight: bold;
    color: #022873;
    margin-bottom: 20px;
}

.azioni-trainer {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.trainer:hover .azioni-trainer {
    opacity: 1;
}

.contenitore-modifica-trainer{
    width: 100%;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.contenitore-modifica-trainer h1 {
    font-size: 24px;
    font-weight: bold;
    color: #022873;
    margin-bottom: 20px;
}